[submodule "quartus-cli-docker"]
	path = quartus-cli-docker
	url = git@github.com:KerCrafter/quartus-cli-docker.git
[submodule "tests/cocotb-runner"]
	path = tests/cocotb-runner
	url = git@github.com:KerCrafter/cocotb-runner.git
[submodule "src/usb-hid-keyboard"]
	path = src/usb-hid-keyboard
	url = git@github.com:KerCrafter/usb-hid-keyboard.git
